.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.person {
    width: 90%;
    margin: 10px 0;
}

.person:nth-child(odd) {
    background-color: rgb(245, 245, 245);
}

.portrait {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait > img {
    width: 70%;
    padding: 10px 0 0;
}

.info > p {
    margin: 10px 0 0;
    padding: 0 20px;
}

.links {
    margin: 0 auto 10px;
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}