body {
    margin: 0;
    height: 100vh;
    color: white;
}

.container {
    background-color: blue;
    height: 100%;
}

.leftContainer {
    height: 70%;
    background-color: hotpink;
    /* justify-content: center; */
    /* display: flex; */
}

#map {
    height: 100%;
    position: absolute;
}

.location {
    position: absolute;
}

#locationInput {
    font-size: 3.5rem;
    letter-spacing: 3px;
    text-transform: lowercase;
}

.results {
    bottom: 0;
    position: absolute;
    height: 30%;
    background-color: lime;
}

.weather {
    height: 100%;
    background-color: purple;
    overflow: scroll;
    background-size: contain;
}

#yelp{
    height: 30%;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    overflow: scroll;
}

.yelpContainer{
    height: 30%;
    width: 100%;
}

