body {
    margin: 0;
    height: 100vh;
    color: white;
}

.container {
    background-color: blue;
    height: 100%;
}

.leftContainer {
    height: 70%;
    position: contain;
    background-color: pink;
    
}

.headerContainer {
    height: 8%;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;
    text-align: center;
}

#map {
    height: 100%;
    position: absolute;
}

.location {
    right: 30%;
    top: 80%;
    position: absolute;
}

#locationInput {
    font-size: 3.5rem;
    letter-spacing: 3px;
    text-align: center;
    /* text-transform: lowercase; */
}

.results {
    bottom: 0;
    position: absolute;
    height: 30%;
    background-color: lime;
}

.weather {
    background-image: url('images/sky.jpg');
    background-size: cover;
    height: 100%;
    overflow: scroll;
    color: aliceblue;
}

#twitter{
    height: 30px;
    color: black;
    font-size: 16px;
    font-family: 'Times New Roman', Helvetica, serif
}

#yelp{
    height: 80%;
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: whitesmoke;
    overflow-y: scroll;
    border: 1px solid black;
    background-image: url('images/yelpbackground.jpg');
    background-size: contain;
}

.yelpHeader {
    height: 10%;
    background-color: white;
}

.yelpImage{
    height: 10%;
    width: 170px;
}

.yelpName{
    height: 150px;
    width: 400px;
    font-size: 2rem;
    text-align: center;
}

.yelpRating{
    height: 150px;
    width: 400px;
} 

.restaurantImage {
    height: 200px;
}

.resultDiv {
    width: 50%;
}

.resultDiv:nth-child(even) {
    background-color: lightgray;
    border: 1px solid black;
    box-sizing: border-box;
}

.resultDiv:nth-child(odd) {
    background-color: lightgray;
    border: 1px solid black;
    box-sizing: border-box;
}

.restaurantImage {
    width: 50%;
    display: inline-block;
}

.restaurantInfo {
    display: inline-block;
    vertical-align: top;
    font-size: 2rem;
}

#twitter{
    width: 100%;
    line-height: 50px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.twitterLogoLeft {
        height: 30px;
        width: 30px;
        float: left;
}

.twitterLogoRight {
        height: 30px;
        width: 30px;
        float: right;
}

.yelpLogo {
        height: 50px;
        width: 100px;
        float: left;
}

#twitter div {
    display: inline-block;
    padding-left: 100%;
    animation: twitter 150s linear infinite;
}

@keyframes twitter {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

